 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>송도 인공지능 스터디 홈페이지에 오신것을 따뜻하게 환영합니다^^ 저희는 딥러닝에 관심있는 송도 직장인,학생들이 매주 목요일 7~9시에 모여서 인공지능을 공부하는 구글의 후원을 받고있는 모임입니다. 참가를 원하실경우 첫주에는 그냥 오시면되고 두번째주부터 준비해오시면됩니다.</p>
                </div>
                <div class="col-lg-4">
                    <p>초보분들을 위해서 간단한 코스가 있는데, 1.타이타닉 케글 시도해보기 2.삼분케라스 리뷰하기 순서로 진행한후에 원하시는 인공지능은 무엇이든 구현하는 단계로 진행되고있습니다. 부담없이 오셔서 열심히 따라오시면 누구나 딥러닝 마스터~⭐</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
